@font-face {
  font-family: YanoneKaffeesatz;
  src: url('../fonts/YanoneKaffeesatzTTF/YanoneKaffeesatz-Regular.ttf');
}

@font-face {
  font-family: YanoneKaffeesatz;
  src: url('../fonts/YanoneKaffeesatzTTF/YanoneKaffeesatz-Bold.ttf');
  font-weight: bold;
}

body {
  background: #4F526D;
  font-family: YanoneKaffeesatz;
  color: #C5C6D1;
  vertical-align: middle;
  font-size: 190px;
  margin-top: 50px;
  text-align: center;
  line-height: 180px;
  font-weight: bold;
}

section {
  width: 1024px;
  height: 768px;
  margin: 50px auto;
}

h1 {
  font-size: 140px;
  text-shadow: 4px 4px #9397B9;
  width: 1000px;
  margin: auto;
  text-align: center;
  font-weight: bold;
}

h1.talk-title {
  padding: 45px 0;
}

section.text {
  padding-top: 250px;
}

section em {
  font-style: normal;
  color: #F9F0A5;
}

h3 {
  font-size: 80px;
  color: #F9F0A5;
  margin: auto;
  width: 600px;
  text-align: center;
  font-weight: normal;
  line-height: 80px;
}

ul {
  padding-top: 70px;
  margin: 0;
  list-style-type: none;
}

code {
  display: block;
  font-size: 120px;
}

code.pass {
  color: #86ff86;
}

code.fail {
  color: #ff8686;
}

.notes {
  display: none;
}

.img-wrapper {
  width: 100%;
  text-align: center;
  position: relative;
}

.turtle {
  height: 500px;
  text-align: center;
}

.img-wrapper ol {
  position: absolute;
}

.img-wrapper li.bad,
code.bad {
  color: #ff8686;
}

.img-wrapper li.good,
code.good {
  color: #86ea86;
}

.img-wrapper li {
  position: absolute;
  font-size: 50px;
}

.img-wrapper.foosbook li:first-child {
  top: 125px;
  left: 357px;
}

.img-wrapper.foosbook li:nth-child(2) {
  top: 0;
  left: 700px;
}

code.bdd {
  padding: 20px;
  font-size: 50px;
  line-height: 50px;
  text-align: left;
}

code.bdd span {
  color: #86ff86;
}

.overview {
  padding-top: 400px;
  font-size: 300px;
}

.webdriver-wait {
  font-size: 100px;
}

.webdriver-wait code {
  font-size: 30px;
  line-height: 30px;
  text-align: left;
  padding-left: 10px;
}